/* Universal css - Ide kerülnek pl gombok stílusai */

body{
    margin:0
}

/*Fogadás css - Ide dolgozik a Lacika */

/*Login css - Ide dolgozik Mr Double D*/

/*Le pvp css - Ez lesz a harci tér pityputyja*/