/* Universal css - Ide kerülnek pl gombok stílusai */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/*Fogadás css - Ide dolgozik a Lacika */

/*Login css - Ide dolgozik Mr Double D*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: url(../assets/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.login_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 420px;
    background: transparent;
    color: white;
    border-radius: 10px;
    padding: 5% 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.414);
    transition: width, height 0.3s;
}

.login_wrapper form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login_wrapper h1 {
    font-size: large;
    text-align: center;
}

.login_wrapper .input_box {
    width: 100%;
    height: 30%;
    margin-top: 3%;
}

.login_wrapper .input_box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.232);
    border-radius: 40px;
    color: white;
    padding: 4% 7% 4% 7%;
    text-align: center;
}

.login_wrapper .input_box input::placeholder{
    color: rgba(255, 255, 255, 0.29);
}

.login_wrapper .remember{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 10.5px;
    margin: 15px 4px;
}

.login_wrapper .remember label input {
    accent-color: white;
    margin-right: 3px;
}

.login_wrapper .remember a {
    color: white;
    text-decoration: none;
}

.login_wrapper .remember a:hover{
    text-decoration: underline;
}

.login_wrapper .btn{
    width: 47%;
    text-align: center;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: darkslategrey;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    transition: color, background-color 0.3s ease;
    margin-top: 3%;
}

.login_wrapper .btn:hover{
    color: white;
    background-color: rgb(58, 7, 7);
}

.login_wrapper .reg-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login_wrapper .reg-link a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.login_wrapper .reg-link a:hover{
     text-decoration: underline;
}

@media (max-width: 480px) {
    .login_wrapper {
        padding: 20px;
    }
    .login_wrapper h1 {
        font-size: medium;
    }
}
/*Le pvp css - Ez lesz a harci tér pityputyja*/